.TitleContent {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  .TitleContentInner {
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    .favorites {
      position: absolute;
    }
  }
}

@media (min-width: 768px) {
  .TitleContent {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .TitleContent {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .TitleContent {
    width: 1170px;
  }
}
