input {
  font-size: 18px;
  display: flex;
  border: 1px solid #f59a23;
  color: #f59a23;
  background-color: #2f2f2f;
  outline: none;
}

.item_name {
  margin-left: 18px;
}

.message {
  margin: 5px;
  color: red;
}
