.Login {
  display: flex;
  position: relative;
  button {
    color: #ffb34e;
    background-color: #2f2f2f;
    border: 0;
    cursor: pointer;
  }

  svg {
    width: 34px;
    margin-left: 3px;
    stroke: #ffb34e;
  }
}
