.TypeContent {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
  a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .TypeContent {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .TypeContent {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .TypeContent {
    width: 1170px;
  }
}
